@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 전체 컨테이너 */
.container {
  display: flex;
}
/* 사이드바 */
.container .site-layout-sidebar {
  width: 200px;
  height: 100vh;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
}
/* 메인 */
.container .site-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
}
/* 헤더 */
.container .site-layout .header {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 480px) {
}
