.container {
  min-height: 100vh;
}
/* ------ */
/* HEADER */
/* ------ */
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}
/* ------------- */
/* MAIN CONTENTS */
/* ------------- */
.main {
  margin-top: 64px;
  padding: 0 50px;
}
/* breadcrumb */
.main__breadcrumb {
  margin: 16px 0;
}
/* contents */
.main__contents-item {
  background-color: #ffffff;
  padding: 24px;
  height: auto;
}
/* ------------- */
/* FOOTER */
/* ------------- */
.footer {
  text-align: center;
}
