.container {
  min-height: 100vh;
}
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}
.main {
  margin-top: 64px;
  padding: 0 50px;
  margin-top: 64;
}
.main__bg {
  background-color: #ffffff;
  padding: 24px;
  height: 100%;
}
.footer {
  text-align: center;
}
