.container {
  min-height: 100vh;
}
/* ------ */
/* HEADER */
/* ------ */
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}
/* ------------- */
/* MAIN CONTENTS */
/* ------------- */
.main {
  margin-top: 64px;
  padding: 0 50px;
}
/* breadcrumb */
.main__breadcrumb {
  margin: 16px 0;
}
/* contents */
.main__contents-item {
  background-color: #ffffff;
  padding: 24px;
  height: auto;
  margin-bottom: 24px;
}
.main__contents-item:last-child {
  margin-bottom: 0;
}
.emojibox__big {
}
.emojibox__tit {
  font-weight: bold;
}
.emojibox__item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* emoji box */
.emojibox__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 100px;
  height: 100px;
}
.emojibox__item:hover {
  cursor: pointer;
}
.emojibox__item-emoji {
  font-size: 2em;
}
/* ------------- */
/* FOOTER */
/* ------------- */
.footer {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .emojibox__item-emoji {
    font-size: 1.75em;
  }
}
@media screen and (max-width: 720px) {
  /* ------------- */
  /* MAIN CONTENTS */
  /* ------------- */
  .main {
    padding: 0 30px;
  }
  /* emoji box */
  .emojibox__item {
    width: 60px;
    height: 60px;
  }
  /* emoji box - emoji */
  .emojibox__item-emoji {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 360px) {
  /* ------------- */
  /* MAIN CONTENTS */
  /* ------------- */
  .main {
    padding: 0 10px;
  }
}
